html {
  font-size: 16px;
  font-family: 'lora',serif;
  color: #2c1f06;
  background-color: #c78a1c;
}

strong {
  font-weight: bold;
}
h1{
  font-size: 2em;
  font-weight: bold;
}

/* header */
.website {
  position: relative;
  top: 4rem;

}
header{
  position: fixed;
  z-index: 5;
  height: 4rem;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c78a1c;
  border-bottom: .1px solid #b17a19;
}

.lefthead{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  font-size: 1.5rem;
}

.righthead{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.3rem;
}

.righthead span{
  margin-left: 1rem;
}
.righthead span:hover{
  text-decoration: underline;
}
.mobilehead{
  display: none;
}
.mobilelearnsomething{
  display: none;
}

.mobileinfo{
  display: none;
}
.learningmobile{
  display: none;
}

.exhibitmobile{
  display: none;
}


/*banner*/

.banner img {
  width: 100%;
  border: 1px solid #c78a1c
}

.banner {
  padding: 2rem 1.5rem 2rem 1.5rem;
  background-color: #c78a1c;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s ease-in-out .3s;
}
.banner:hover{
  background-color: #dd9a1f;
  transition: background-color 1s ease-in-out .5s;
}
.leftbanner{
  width: 60%;
  overflow: hidden;
  display: flex;

}

.rightbanner{

  width: 33%;
  margin-left: 1.5rem;
}
.banner{

}
.banner h1{
  font-size: 3rem;
  margin-bottom: 3rem;
}

.banner h4{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  line-height: 2rem;
  color: #3d2b09;
}

.banner h5/*button*/{
  font-size: 1.5rem;
  text-align: center;
  padding: .5rem 2rem;
  background-color: #c78a1c;
  margin-top: 3rem;
  border-radius: 5px;
  transition: background-color 1s ease-out .3s;
}

.banner h5:hover{
  background-color: #e2a434;
  transition: background-color 400ms ease-out 400ms;
}


/*banner for mobile*/
.mobilebanner{
  display: none;
}



/* information div */
/*left information div */


.information{
  display: flex;
  align-items: flex-start;
  padding-bottom: 2rem;
  padding-top: 1rem;
  background-color: #c78a1c;
}

.leftinfo {

  width: 60%;
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  transition: background-color .3s ease-out .1s;
}
.leftinfo:hover{
  background-color: #dd9a1f;
  transition: background-color .5s ease-in-out .5s;
}
.leftinfo img {
  width: 100%;
  padding-top: 1rem;
}

.leftinfo .sideinfo{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.leftinfo .sideinfo h2 {
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #3d2b09;
}
/*font, color, spacing for left info*/

.leftinfo .sideinfo p{
  line-height: 1.5rem;
  font-size: 1.1rem;
  color: #3d2b09;
}

.leftinfo .sideinfo h2{
  text-align: left;
  width: 100%;
  font-size: 2.5rem;
}
/*right information div */
.rightinfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #64450e;
}


.sideinfo {
  display: flex;
  align-items: center;
}
.rightinfo .sideinfo:hover{
  background-color: #dd9a1f;
  transition: background-color 1s ease-in-out 0s;
  border: 1px solid #a98307;
  transition: border .5 linear 400ms;
}
.sideinfo .img-contain{
  width: 35%;
  margin: 1rem;
}
/*the id is to make the right side start at the same vertical part the left side does */
#orientaion {

}

.sideinfo .img-contain img {
  width: 100%;
}

.rightinfo .sideinfo {
  display: flex;
  justify-content: flex-start;
  transition: background-color .3s ease-out .1s;
}

.wordinfo {
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

/*font, color, spacing for right info*/

.wordinfo p{
  margin: .5rem 0;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.wordinfo h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3d2b09;
}

.wordinfo a {
  text-decoration: none;
  font-size: 1.1rem;
}

.wordinfo a:hover{
  text-decoration: underline;
  transition-delay: 500ms;
}
/* learning div */
#title1{
  text-align: center;
  background-color: lightgrey;
  padding-top: 2rem;
  font-size: 2.25rem;
  background-color: #c78a1c;
}
.learning {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #c78a1c;
}
.learnrow{
  display: flex;
  margin: 2rem 4.5rem 2rem 4.5rem;
}
.learning .learnrow:last-child{
  margin-top: 0;
}

.learnblock img{
  height: auto;
  width: 100%;
}
.learnrow .learnblock:last-child{
  margin-right: 0;
}

.learnblock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-right: 2rem;
  transition: background-color .5s ease-out .3s;
}
.learnblock:hover{
  background-color: #dd9a1f;
  transition: background-color .5s ease-in-out .3s;
}
.wordblock{
  width: 100%;
  text-align: left;
}
/*start learning */

.wordblock h5 {
  margin: .5rem 0;
  padding-left: 1rem;
}

.wordblock h4 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-left: 1rem;
  color: #3d2b09;
}

.wordblock p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  padding-right: 1rem;
}
/*exhibit*/
#title2{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2.25rem;
  background-color: #c78a1c;
}
.exhibit{
  display: flex;
  padding-left: 0rem;
  background-color: #c78a1c;
  padding-right: 1.5rem;
}
.lex{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
  transition: background-color .5s ease-out .3s;
  padding-left: 1.5rem;
}
.lex:hover{
  background-color: #dd9a1f;
  transition: background-color .5s ease-in-out .5s;
}
.text {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.text h4{
  font-size: 1.5rem;
  font-weight: bold;
  color: #3d2b09;
}

.text p{
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-top: .5rem;
}
.clip video{
  width: 100%;
}

.rex{
  width: 40%;
  display: flex;
  flex-direction: column;
}

.rex .block{
  display: flex;
  align-items: center;
  transition: background-color .5s ease-out .3s;
}
.rex .block:hover{
  background-color: #dd9a1f;
  transition: background-color .5s ease-in-out .5s;
}
.inblock {
  width: 65%;
  margin-left: 1rem;
}

.inblock h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.inblock p {
  font-size: 1.1rem;
  line-height: 1.25rem;
}

.block{
 margin-right: 1rem;
 padding-right: .5rem;
}
.rex .img-contain{
  width: 35%;
  margin: 1rem;
}

.rex .img-contain img{
  width: 100%;
}

/*footer*/

footer{
  border-top: 1px solid black;
  padding: 1rem 1.5rem 4rem 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: .9rem;
  background-color: #c78a1c;
}

@media only screen and (max-width: 600px){
  header{
    display: none;
  }
  .mobilehead{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    width: 100%;
  }
  .website{
    position: static;
    width: 100%;
  }
  .website .information{
    display: none;
  }
  .website .learning{
    display: none;
  }
  .website .exhibit{
    display: none;
  }
  .website .banner {
    display: none;
  }
  .website .mobilebanner{
    display: flex;
    height: 12.5rem;
    width: 100%;
    overflow: hidden;
  }
  .website .mobilebanner img{
    max-height: inherit;
  }
  .website .mobilelearnsomething{
    display: flex;
    padding: 2rem 1.5rem 1rem 1.5rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .website .mobilelearnsomething h5{
    padding: .5rem 2rem;
    width: 85%;
    text-align: center;
    margin-top: 1.5rem;
    color: #3d2b09;
  }
  .website .mobilelearnsomething h4{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 2rem;
  }
  .website .mobileinfo{
    display: flex;
    flex-direction: column;
  }
  .website .mobileinfo .sideinfo{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 2rem 1rem;
  }
  .website .mobileinfo .sideinfo .img-contain{
    width: 100%;
    max-height: 15rem;
    overflow: hidden;

  }

  .website .mobileinfo .sideinfo .img-contain img{
    max-height: inherit;
  }
  .website .mobileinfo .sideinfo .wordinfo{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .website #title1{
  }
  .website .learningmobile{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .website .learningmobile p:first-child{
    margin-top: 1rem;
  }
  .website .learningmobile p:last-child{
    margin-bottom: 2rem;
  }
  .website .learningmobile p{
    padding: 1rem 0 1.5rem 1rem;
    margin-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #dd9a1f;
  }



  #title2{
    padding-bottom: 1rem;
  }
  .website .exhibitmobile{
    display: flex;
    margin-bottom: 1.5rem;
  }
  .website .exhibitmobile .clipmobile{
    max-width: 480px;
  }
  .website .exhibitmobile .clipmobile video{
    width: 100%;
  }
  .website footer {
    padding-bottom: 1rem;
    border-style: none;
  }
  .website footer p:last-child{
    display: none;
  }



}
